################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LR_Pochemuchki
/Our_project/.vs/MainInterface/CopilotIndices/17.13.433.20974
