################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interface/.vs
/Interface/Debug
/Interface/MainInterface
/Interface/x64
/texts
